.container {
    background: #ffffff;
    width: 90%;
    height: auto;
    display: grid;
    max-width: 1000px;
    margin: 1.2em auto;
    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "ladoA ladoA ladoA ladoB"
                         "categoria1 categoria2 categoria3 categoria4";
    grid-template-columns: repeat(4, 1fr);
  
    
    
  }

  .container > .encabezado,
  .container > .ladoA,
  .container > .ladoB,
  .container > .categorias,
  .container > div 
  {
    background: #ffffff;
     
    border: 1px solid #000000;
  }


  /*Encabezado para que ocupe toda la parte de arriba*/
  .container .encabezado
  {
    display: grid;
    grid-column: 1/6;
    grid-template-columns:1fr auto auto;
    grid-template-rows: auto;
    background: #8bc259;
    text-align: start;
    gap: 1em;
    align-items: center;
    
  }
  .container .ladoA
  {
      grid-column: span 3;
  }
  .container .ladoB
  {
      grid-column: span 2;
  }

/*Tamano reproductor*/
.ladoA iframe
{
        display: grid;
        width: 96%; 
        height: 300px; 
        padding:1em; 
        margin: 2px;    
}
/*Letras comentarios*/
.ladoA .Cm
{
   
    margin: 20px;
    padding: 10px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
   
}

/*estrellas al lado de comentarios*/
.Cm img
{
  width: 30%;
  height: 20px;
  float: right;
}
/*Tamano imagenes de videos reomendados*/
.TamRecom iframe
{
    width: 130px;
    height: 120px;
    float: left;
    box-sizing: border-box;
}

/*recomG abarca la miniatura y descripcion de los videos recomendados*/
.RecomG
{
    display: grid;
    grid-template-columns:auto auto ;
    grid-template-rows: auto;
    border:2px  ;
    margin:6px;
}

/*Letras de las categorias*/
.titulo{
    background: #cfdb52;
    color: black;
    font-size: 23px;
    font-family: Font-weight bold;
    text-align: start;
    margin: 0;
    height: 30px;

   }
/*imagenes de las categorias*/
.categorias img 
{
    float: left;
    width: 30px;
    height: auto;
}

.container .categorias
  {
    display: grid;
    grid-column:auto;
    margin: 2px;
  }
/*Letra de videos recomendados*/
  .recomendaditos
{
    color:blue;
    font-size: 100%;

    
}


/*las 4 secciones de las categorias*/

.container .categorias
  {
    display: grid;
    grid-column: 1/6;
    grid-template-columns:repeat(4, auto);
    grid-template-rows:auto;
    background: #8bc259;
        width: 100%; 
        height: auto; 
        float: left;
        margin: 0;
       
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .ladoA {
        grid-column: 1 / -1;
        
    }
    .ladoA iframe
    {   
        width: 92%;     
    }
    .container .ladoB {
        grid-column: 1 / -1;
    }

    .container .categorias {
        grid-template-columns:repeat(2, auto);
    }
}